<!-- Page for searching for artists -->

{% extends "base.html" %}
{% load static %}
	{% block extrahead %}
	<link rel="stylesheet" type="text/css" href="{% static 'main/prp-search.css' %}">

    {% endblock %}
    
    {% block body %}
	
	<div class="search">
	    <h1> Find Artists Page</h1>
	    <h3 style="color: white;"> Search by Artstyle/Genre </h3> <br>

	    <div class="searchbar">
	    	<form action="{% url 'artist-search' %}" method="get">
				<input name="q" type="text" placeholder="Art Genre/Style">
				<button type="submit"><p> Search </p></button>
		   	</form>
	    </div>
	</div>

	<div class="results">
		{% for artist in object_list %}
		<div class="prof">
			<div class="details">
			    <a href="{% url 'artist-detail' artist.id %}">{{ artist }}</a>
			</div>
	    </div>
	    
		{% endfor %}
	</div>
    {% endblock %}