<!-- Landing page for the Find Artists feature -->

{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
<title>Find Artists Page</title>
<link rel="stylesheet" type="text/css" href="{% static 'main/prp-landing.css'%}">
{% endblock %}

{% block body %}
<div class="everything">
	<h1> Find Artists Page</h1>
	<h3 style="color: white;"> Search by Artstyle/Genre </h3>  <br>

	<div class="artist-search-main" style="text-align: center;">
		<form action="{% url 'artist-search' %}" method="get">
			<input name="q" type="text" placeholder="Artist Genre/Style">
			<button type="submit"><p>Search</p></button>
		</form>
		        <!--onclick="window.location.href='prp-search.html';"-->
	</div> 

</div>
{% endblock %}