<!-- Homepage which displays all the site features -->

{% extends "base.html" %}

{% load static %}
{% block body %}
<!-- HOMEPAGE -->
    <div class="homepage">
      <div class="homepage-header">
          <div class="center-wrapper">
            <h1>Welcome to ArtistExchange</h1>
          </div>
      </div>
      <div class="main-homepage">
          <div class="feature-component">
            <a href="{% url 'gallery' %}"><p>My Gallery</p></a>
          </div>
          <div class="feature-component">
            <a href="{% url 'artists' %}"><p>Find Artists</p></a>
          </div>
          <div class="feature-component">
            <a href="{% url 'following' %}"><p>Following</p></a>
          </div>
          <div class="feature-component">
            <a href="{% url 'followers' %}"><p>Followers</p></a>
          </div>
    </div>
  </div>

 <!-- HOMEPAGE -->



{% endblock %}
